<%- include ('./includes/head.ejs')  %> 
<body>
    <%- include ('./includes/header.ejs')  %> 
    <% if (products && products.length > 0) { %>
        <ul id="offerts">
            <% products.forEach(product => { %>
                <%- include ('./includes/card.ejs',{product})  %> 
            <% }) %>
        </ul>
    <% } else { %>
        <article>
            <h2>Don't have products in offerts</h2>
        </article>
    <% } %>
</body>
</html>